.main{
	width: 100%;
	position: relative;
	margin-right: 3px;
}
.background{
	background: black;
}
.row1{
	width: 100%;
	height: 100px;
	background: #64a8ff;
}
.row2{	
	width: 100%;
	height: 50px;	
}
.row2col1{
	width: 25%;
	height: 50px;
	background: #e87a44;
	display: inline-block;
	position: absolute;
	left: 0%;
}
.row2col2{
	width: 25%;
	height: 50px;
	background: #784100;
	display: inline-block;
	position: absolute;
	left: 25%;
}
.row2col3{
	width: 25%;
	height: 50px;
	background: #ff7498;
	display: inline-block;
	position: absolute;
	left: 50%;
}
.row2col4{
	width: 25%;
	height: 50px;
	background: #5b5ab2;
	display: inline-block;
	position: absolute;
	left: 75%;
}
.row3{
	width: 100%;
	position: relative;
}
.row3col1{
	width: 12.5%;
	height: 400px;
	background: #cd94e2;
}
.row3col3{
	width: 120px;
	height: 120px;
	background: #806800;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}
.row3col4{
	width: 12.5%;
	height: 500px;
	background: #41474a;
	position: absolute;
	right: 0;
	top: 0;
}
.row4{
	width: 1200px;
	height: 100px;
	background: #008541;
}
